/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(14, 14, 14);
  margin: 0;
  padding: 0;
}

/* Home Container */
.home-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

/* Description Section */
.description {
  flex: 1;
  padding: 10px;
  max-width: 600px;
  /* Light grey background for description */
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  margin-left: 50px;
}

/* Authentication Section */
.auth-container {
  flex: 1;
  max-width: 400px;
  background-color: #ffffff; /* White background for authentication */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 120px;
}

.auth-container.full-width {
  margin: 120px 500px;
}

/* Description Header */
.description-header {
  font-size: 100px;
  color: transparent;
  margin-top: 50px;
  background: linear-gradient(to right, grey 50%, rgb(1, 228, 153) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  text-align: left; /* Align text to the left for better readability */
  margin-bottom: 50px;
}

.maindesc {
  margin-top: 5px;
  color: rgb(76, 75, 75);
  font-size: 20px;
  background: linear-gradient(
    to right,
    rgb(58, 58, 58) 33%,

    rgb(2, 70, 106) 33%,
    rgb(2, 124, 83) 33%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Home Header */
.home-header-sign {
  font-size: 24px;
  color: #41b3a2;
  text-align: center;
  margin-bottom: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Auth Form */
.auth-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  color: #495057;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

/* Buttons */
button {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* Specific Button Colors */
.button-color {
  background-color: #41b3a2;
  color: white;
  border-radius: 1px solid; /* Border matching the button color */
  width: 100%;
}

.button-color:hover {
  background-color: #34a89f; /* Slightly darker green */
}

.button-color-signin {
  background-color: #41b3a2;
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button-color-signin:hover {
  background-color: #616161; /* Slightly darker green */
}
